
  $FB_TOKENS = {
    :url => 'http://fb-tokens.ataxo.wcli.cz',

    # optional curburger configuration for fb-tokens fetching:
    :ua  => {
      :http_auth => {
        :user     => '',
        :password => '',
      },
    }
  }